body {
    font-family:"Roboto", sans-serif;
    color:#434455;
    background-color:#ffffff;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
}
 .header {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;

 }
 .header-nav {
display: flex;
 }
 .logo-text {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color:#4d5ae5;
 }
 .ingredient-logo {
     color: #2e2f42;
    }
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
      color:#2e2f42;
}
.header-link:hover,
.header-link:focus
 {
    color: #404bbf;
}
.address-text {
    font-style: normal;
}
.address-link {
     font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
color: #404bbf;
}

.hero {
background-color: #2e2f42; 
}
.hero-text {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
        color: #fff;
}
.hero-text-button {
        background: #4d5ae5;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.04em;
        cursor: pointer;

}
.hero-text-button:hover,
.hero-text-button:focus
 {
    background-color: #404BBF;
}
.title-priorities {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.priorities-title {
font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}
.priorities-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.priorities {
background-color: #ffffff;
}
.team {
background-color: #f4f4fd;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.team-list {
background-color: #FFFFFF;
}
.team-list-title {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-list-text { 
    font-weight: 400;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.portfolio {
background: #fff;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.portfolio-list {
font-weight: 500;
font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-list-text {
font-weight: 400;
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-page {
    background: #2e2f42;
    }
    .logo-text {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }
    .ingredient {
        color: #f4f4fd;
    }
.copyright-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd
}