body {
    font-family:"Roboto", sans-serif;
    color:#434455;
    background-color:#ffffff;
}
h1, h2, h3, p {
   margin: 0; 
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}
section {

}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
    display: flex;
        align-items: center;
        justify-content: space-around;
    }

 .logo-text {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color:#4d5ae5;
     flex-direction: row;
     gap: 0px;
    padding: 24px 0 24px;
    margin-right: 76px;
 }
 .ingredient-logo {
     color: #2e2f42;
    }
    .link {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
.header {
    width: 1440px;
     height: 72px;
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     color:#2e2f42;
    padding: 24px 0 24px;
}

.address-text {
    font-style: normal;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link {
     font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0 24px;
}

.header-link:hover,
.header-link:focus,
.address-link:hover,
.address-link:focus {
color: #404bbf;
}

.hero {
background-color: #2e2f42; 
width: 1440px;
    height: 600px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero-text {
    font-size: 56px;
 
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #fff;
    margin: 0 auto 48px auto;
}
.buttom {
display: flex;
flex-direction: row;
gap: 10px;
border-radius: 4px;
    padding: 16px 32px;
}
.hero-text-button {
        background: #4d5ae5;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.04em;
        cursor: pointer;

}
.hero-text-button:hover,
.hero-text-button:focus
 {
    background-color: #404BBF;
}
.section {
padding-top: 120px;
  padding-bottom: 120px;
}

.title-priorities {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.priorities-title {
font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}
.priorities-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.priorities {
background-color: #ffffff;
}
.team {
background-color: #f4f4fd;
padding-top: 120px;
    padding-bottom: 120px;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.team-list {
background-color: #FFFFFF;
}
.team-list-title {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-list-text { 
    font-weight: 400;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.portfolio {
background: #fff;
padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.portfolio-list {
font-weight: 500;
font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-list-text {
font-weight: 400;
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-page {
    background-color: #2e2f42;
    }
    .logo-text {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }
    .ingredient {
        color: #f4f4fd;
    }
.copyright-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd
}