body {
    font-family:"Roboto", sans-serif;
    color:#434455;
    background-color:#ffffff;
}
h1, h2, h3, p {
   margin: 0; 
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}
.heder {
    border-bottom: 1px solid #e7e9fc;  
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
        align-items: center;
        justify-content: space-around;
    }
.heder-nav {
display: flex;
align-items: center;
}
 .logo-text {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color:#4d5ae5;
     flex-direction: row;
     gap: 0px;
    padding: 24px 0 24px;
    margin-right: 76px;
 }
 .ingredient-logo {
     color: #2e2f42;
    }
    .link {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
.header {
    width: 1440px;
     height: 72px;
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     color:#2e2f42;
    padding: 24px 0 24px;
}

.address-text {
    font-style: normal;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link {
     font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0 24px;
}

.header-link:hover,
.header-link:focus,
.address-link:hover,
.address-link:focus {
color: #404bbf;
}

.hero {
background-color: #2e2f42; 
width: ;
    height: ;
    padding: 188px 0 188px;
}
.hero-text {
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #fff;
    margin: 0 auto 48px auto;
    max-width: 496px;
    height: 120px;
}
.buttom {
display: flex;
align-items: flex-start;
 justify-content: flex-start;
flex-direction: row;
gap: 10px;
}
.hero-text-button {
        background-color: #4d5ae5;
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.04em;
        cursor: pointer;
        border-radius: 4px;
        display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            text-align: center;
}
.hero-text-button:hover,
.hero-text-button:focus
 {
    background-color: #404BBF;
}
.section {
padding-top: 120px;
  padding-bottom: 120px;
}
.priorities-list {
    display: flex;
    gap: 24;
}

    .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            border: 0;
            clip: rect(0 0 0 0);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }

.priorities-title {
font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}
.priorities-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.priorities {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
}

.team {
background-color: #f4f4fd;
padding-top: 120px;
    padding-bottom: 120px;
}
.team-items {
  display: flex; 
gap: 24px;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}
.team-list {
background-color: #FFFFFF;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}
.team-position {
padding-top: 32px;
padding-bottom: 32px;
}

.team-list-title {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-list-text { 
    font-weight: 400;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: center;
}
.portfolio {
background: #fff;
padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.portfolio-list {
font-weight: 500;
font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-list-text {
font-weight: 400;
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-page {
    background-color: #2e2f42;
    }
    .logo-text {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }
    .ingredient {
        color: #f4f4fd;
    }
.copyright-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd
}